@charset 'utf-8';

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 70px;
  background-color: yellow;
}
.item{
  /* flex-grow: 0;
  width: 100px; */
}