@charset 'utf-8';
* { 
  /* outline: 1px solid red; */
  padding:0px;
  margin:0px;
}


body {
  margin:0px;
}

a {
  text-decoration: none;
  color: initial;
}

.wrap .footer {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #666;  
}

.wrap .footer .footer_top,
.wrap .footer .footer_contents,
.wrap .footer .footer_icons,
.wrap .footer .footer_copyright{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.wrap .footer .footer_top {
  border-bottom:2px solid #ccc;

}

.wrap .footer .footer_contents .title{
  font-weight: bold;
  color:#111;
  padding-bottom: 5px;
}

.wrap .footer .footer_contents .footer_content-1,
.wrap .footer .footer_contents .footer_content-2,
.wrap .footer .footer_contents .footer_content-3{
  margin-right: 30px;
}

.wrap .footer .footer_contents .footer_content-2,
.wrap .footer .footer_contents .footer_content-3,
.wrap .footer .footer_contents .footer_content-4{
  line-height: 2em;
}

.wrap .footer .footer_contents .footer_content-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 150px;

  background-color: rgb(229, 78, 78);
  color: #efefef;
}
.wrap .footer .footer_contents .footer_content-2 .text-color01{
  color:rgb(232, 109, 129);
  font-weight: bold;
}
.wrap .footer .footer_contents .footer_content-3 .tel{
  font-size: 1.8rem;
  color:#111;
  padding: 10px 0px;
}
.wrap .footer .footer_contents .footer_content-3 .tel .material-symbols-outlined{
  margin-right:10px;
}
.wrap .footer .footer_contents .footer_content-3 .account{
  color:#5c49a6;
  font-weight: bold;
}

.wrap .footer .footer_contents .footer_content-4 .hightlight-02{
  color:#efefef;
  background-color: rgb(71, 71, 210);
  
}
.wrap .footer .footer_contents .footer_content-4 .hightlight-03{
  color:#efefef;
  background-color: rgb(3, 3, 79);
}
/* icons */
.wrap .footer .footer_icons * {
  margin-right:10px;
}


/* .material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */


.wrap .footer .footer_copyright {
  
}
.wrap .footer .footer_copyright .hightlight-01 {
  background-color: #eee;
}